apiVersion: 1
providers:
- name: 'node-exporter'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10
  lowUiUpdates: false
  options:
    path: /var/lib/grafana/node-exporter.json


